@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

:root.light {
    --card-head: #fafafa;
    --card-main: #f4f4f4;
    --card-head-hover: rgba(255, 255, 255, 0.1);
}

:root.dark {
    --card-head: #323232;
    --card-main: #2c2c2c;
    --card-head-hover: rgba(0, 0, 0, 0.1);
}

svg.icon {
    fill: var(--color-text);
    &#report {
        margin-left: 20px;
        position: relative;
        top: -1.5px;
        &:hover {
            opacity: 0.9;
        }
        &:active {
            opacity: 0.8;
        }
    }
}
